<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="user_change_password">change_password</a><br>
    <a href="/view_profile">View profile</a><br>   
    <a href="/user_add_post">Add Post</a><br>
    <a href="/user_view_users">view users</a><br>
    <a href="/view_friend_requested_by_me">view_friend_requested_by_me</a><br>
    <a href="/view_friend_request">View friend request</a><br>
    <a href="/view_friend_list">View friend List</a><br>
    <a href="/view_my_post">view_my_post</a><br>
    <a href="/view_post_of_friends">view_post_of_friends</a><br>
    <a href="/message">Message</a><br>
    <a href="/complaint">complaints</a><br>



    <a href="/login">Logout</a>
</body>
</html> -->




<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="Tooplate">

        <title>CyberBook</title>

        <!-- CSS FILES -->      
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/css/bootstrap-icons.css" rel="stylesheet">

        <link href="/static/css/apexcharts.css" rel="stylesheet">

        <link href="/static/css/tooplate-mini-finance.css" rel="stylesheet">
<!--

Tooplate 2135 Mini Finance

https://www.tooplate.com/view/2135-mini-finance

Bootstrap 5 Dashboard Admin Template

-->

    </head>
    
    <body>
        {% for i in data %}
        <header class="navbar sticky-top flex-md-nowrap">
            <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
                <a class="navbar-brand" href="/user_home">
                    <i class="bi bi-steam"></i>
                    CyberGram
                </a>
            </div>

            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- <form class="custom-form header-form ms-lg-3 ms-md-3 me-lg-auto me-md-auto order-2 order-lg-0 order-md-0" action="#" method="get" role="form">
                <input class="form-control" name="search" type="text" placeholder="Search" aria-label="Search">
            </form> -->

            <div class="navbar-nav me-lg-2">
                <div class="nav-item text-nowrap d-flex align-items-center">
                    <div class="dropdown ps-3">
                        <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarLightDropdownMenuLink">
                            <i class="bi-bell"></i>
                            <span class="position-absolute start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                <span class="visually-hidden">New alerts</span>
                            </span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-lg-end notifications-block-wrap bg-white shadow" aria-labelledby="navbarLightDropdownMenuLink">
                            <small>Notifications</small>

                            <li class="notifications-block border-bottom pb-2 mb-2">
                                <a class="dropdown-item d-flex  align-items-center" href="#">
                                    <div class="notifications-icon-wrap bg-success">
                                        <i class="notifications-icon bi-check-circle-fill"></i>
                                    </div>

                                    <div>
                                        <span>No Notifications</span>

                                        <p>From the past few days</p>
                                    </div>
                                </a>
                            </li>
                            
                        </ul>
                    </div>

                    <div class="dropdown ps-1">
                        <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-three-dots-vertical"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-social bg-white shadow">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-4">
                                        <a class="dropdown-item text-center" href="#">
                                            <img src="/static/images/social/search.png" class="profile-image img-fluid" alt="">
                                            <span class="d-block">Google</span>
                                        </a>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-4">
                                        <a class="dropdown-item text-center" href="#">
                                            <img src="/static/images/social/spotify.png" class="profile-image img-fluid" alt="">
                                            <span class="d-block">Spotify</span>
                                        </a>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-4">
                                        <a class="dropdown-item text-center" href="#">
                                            <img src="/static/images/social/telegram.png" class="profile-image img-fluid" alt="">
                                            <span class="d-block">Telegram</span>
                                        </a>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-4">
                                        <a class="dropdown-item text-center" href="#">
                                            <img src="/static/images/social/snapchat.png" class="profile-image img-fluid" alt="">
                                            <span class="d-block">Snapchat</span>
                                        </a>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-4">
                                        <a class="dropdown-item text-center" href="#">
                                            <img src="/static/images/social/tiktok.png" class="profile-image img-fluid" alt="">
                                            <span class="d-block">Tiktok</span>
                                        </a>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-4">
                                        <a class="dropdown-item text-center" href="#">
                                            <img src="/static/images/social/youtube.png" class="profile-image img-fluid" alt="">
                                            <span class="d-block">Youtube</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>      

                    <div class="dropdown px-3">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{i.photo}}" class="profile-image img-fluid" alt="">
                        </a>
                        <ul class="dropdown-menu bg-white shadow">
                            <li>
                                <div class="dropdown-menu-profile-thumb d-flex">
                                    <img src="{{i.photo}}" class="profile-image img-fluid me-3" alt="">

                                    <div class="d-flex flex-column">
                                        <small>{{i.f_name}}</small>
                                        <a href="#"> {{i.email}} </a>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <a class="dropdown-item" href="/view_profile">
                                    <i class="bi-person me-2"></i>
                                    Profile
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="/update_profile">
                                    <i class="bi-gear me-2"></i>
                                    Settings
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="help-center.html">
                                    <i class="bi-question-circle me-2"></i>
                                    Help
                                </a>
                            </li>

                            <li class="border-top mt-3 pt-2 mx-4">
                                <a class="dropdown-item ms-0 me-0" href="/login">
                                    <i class="bi-box-arrow-left me-2"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>



                </div>
            </div>
        </header>

        {% endfor %}

      
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block sidebar collapse">
                    <div class="position-sticky py-4 px-3 sidebar-sticky">
                        <ul class="nav flex-column h-100">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="view_post_of_friends">
                                    <i class="bi-house-fill me-2"></i>
                                    Feeds <small> (new posts) </small>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/view_profile">
                                    <i class="bi-person me-2"></i>
                                    Profile
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/message">
                                    <i class="bi bi-send me-2"></i>
                                    Messages
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/view_friend_list">
                                    <i class="bi bi-people me-2"></i>
                                    Friends
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/user_add_post">
                                    <i class="bi bi-plus-square-dotted me-2"></i>
                                    Add Post
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/view_my_post">
                                    <i class="bi bi-images me-2"></i>
                                    My Posts
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/view_friend_request">
                                    <i class="bi bi-hourglass-split me-2"></i>
                                    Friend Requests
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/user_view_users">
                                    <i class="bi bi-person-plus me-2"></i>
                                    Add Friends
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/view_friend_requested_by_me">
                                    <i class="bi bi-hourglass-bottom me-2"></i>
                                    Friend Requested By Me
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/view_notifications">
                                    <i class="bi bi-bell-fill me-2"></i>
                                    Notifications
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/complaint">
                                    <i class="bi bi-patch-question-fill me-2"></i>
                                    Complaints
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/update_profile">
                                    <i class="bi-gear me-2"></i>
                                    Settings
                                </a>
                            </li>
                            

                            <li class="nav-item border-top mt-auto pt-2">
                                <a class="nav-link" href="/login">
                                    <i class="bi-box-arrow-left me-2"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

