{% include 'user/user_header.html' %}        
<!-- <table>
    {% for i in data['comments'] %}
    <tr>
        <th>Friend Commented:</th> 
        <td>{{i.comment}}</td> 
    </tr>
    <tr>
        <th>Your Reply:</th> 
        <td>{{i.reply}}</td> 
    </tr>
    <tr>
        <th>Date:</th>
        <td>{{i.reply_date}}</td>
    </tr>
    <tr>
        <td colspan="2">
            <form method="post">
                <div class="comment-input">
                    <input type="hidden" name="comment_id" value="{{i.comment_id}}">
                    <input type="text" name="reply" placeholder="Add Reply..." required>
                    <button type="submit" name="submit">Send</button>
                </div>
            </form>
        </td>
    </tr>
    {% endfor %}
</table> -->





<style>
    .font{
       font-family: 'Courier New', Courier, monospace;
    }
       .bdge {
       
         height: 21px;
         background-color: orange;
         color: #fff;
         font-size: 11px;
         padding: 8px;
         border-radius: 4px;
         line-height: 3px;
       }
       
       .comments {
         text-decoration: underline;
         text-underline-position: under;
         cursor: pointer;
       }
       
       .dot {
         height: 7px;
         width: 7px;
         margin-top: 3px;
         background-color: #bbb;
         border-radius: 50%;
         display: inline-block;
       }
       
       .hit-voting:hover {
         color: blue;
       }
       
       .hit-voting {
         cursor: pointer;
       }
   </style>
   
   
   <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
    <center>
        <div class="title-group mb-3" style="position: relative; text-align: center;">
            <h1 class="h2 mb-0" style="position: relative; z-index: 2; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; " >Comments</h1>
            <h1 class="h2 mb-0" style="
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                font-size: 60px;
                color: transparent;
                -webkit-text-stroke: 2px #000;
                opacity: 0.1;
                pointer-events: none;
            ">Comments</h1>
        </div>
</center>
   
       {% for i in data['comments'] %}
   <div class="font">
   <div class="container mt-5 mb-5">
       <div class="d-flex justify-content-center row">
           <div class="d-flex flex-column col-md-8">
               <!-- <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
                   <div class="profile-image"><img class="rounded-circle" src="https://i.imgur.com/t9toMAQ.jpg" width="70"></div>
                   <div class="d-flex flex-column-reverse flex-grow-0 align-items-center votings ml-1"><i class="fa fa-sort-up fa-2x hit-voting"></i><span>127</span><i class="fa fa-sort-down fa-2x hit-voting"></i></div>
                   <div class="d-flex flex-column ml-3">
                       <div class="d-flex flex-row post-title">
                           <h5>Is sketch 3.9.1 stable?</h5><span class="ml-2">(Jesshead)</span></div>
                       <div class="d-flex flex-row align-items-center align-content-center post-title"><span class="bdge mr-1">video</span><span class="mr-2 comments">13 comments&nbsp;</span><span class="mr-2 dot"></span><span>6 hours ago</span></div>
                   </div>
               </div> -->
               <div class="coment-bottom bg-white p-2 px-4">
                   <form method="post">
                    <input type="hidden" name="comment_id" value="{{i.comment_id}}">
                   <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                       <!-- <img class="img-fluid img-responsive rounded-circle mr-2" src="{{i.photo}} " width="38"> -->
                       <input type="text" class="form-control mr-3" name="reply" placeholder="Add Reply" required>
                       <input type="submit" name="submit" class="btn btn-primary" value="Add Reply">
                   </div>
               </form>
                   <div
                       class="commented-section mt-2">
                       <div class="d-flex flex-row align-items-center commented-user">
                           <h6 class="mr-2">Friend Commented : </h6></span><span class="mb-1 ml-2"></span></div>
                       <div class="comment-text-sm"><span>{{i.comment}} </span></div>
                       <div class="d-flex flex-row align-items-center voting-icons"><i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i><i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i>
                            Comment Date:
                           <div class="comment-text-sm"><span> {{i.date}} </span></div>
                       </div>
                       <div
                           class="reply-section">
                           <div class="d-flex flex-row align-items-center voting-icons"><i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i><i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i>
                               <h6 class="ml-2 mt-1">Reply:</h6> 
                               <div class="comment-text-sm"><span> {{i.reply}} </span></div>
                           </div>
                           <div class="d-flex flex-row align-items-center voting-icons"><i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i><i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i>
                               Reply Date:
                               <div class="comment-text-sm"><span> {{i.reply_date}} </span></div>
                           </div>
               </div>
           </div>
           
          
   </div>
   </div>
   </div>
   </div>
   </div>
   {% endfor %}


   {% include 'user/footer.html' %}
